*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.input-wraper input {
    border: 1px solid #dbdddb;   
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    outline: none;
}
.input-wraper {
    margin-bottom: 10px;
}
.btn {
    padding: 10px 20px;
    color: #fff;
    background-color: #037BFE;
    cursor: pointer
}
.error {
    color :rgb(150, 23, 23);
}
.cursor.pointer {
    cursor: pointer;
}